@font-face {
    src: url('./fonts/pixeled/Pixeled.ttf');
    font-family:Pixeled;
}

@font-face {
    src: url('./fonts/ZCOOLQingKeHuangYou-Regular.ttf');
    font-family:ZCOOL;
}

$green: rgb(95, 204, 113);

body {
    background: rgb(11, 10, 27);
    color:$green;
    overflow:hidden;
    margin:0;padding:0;
}

.container {
    position:relative;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    align-items: stretch;
}

.rulebook-outer {
    position:relative;
    font-family:Pixeled;
    font-size:20px;
    width:800px;
    height:100vh;  
    background: rgb(0,0,0);
     background: rgb(35,61,136);
background: linear-gradient(180deg, rgba(35,61,136,1) 0%, rgba(5,12,43,1) 100%); 

/*
    position:absolute;
    top:0;left:0;
    transform:translate(-100%, 0);
*/

    .rulebook-text,
    img.bookimg {
        position:absolute;
        width:700px;
        height:496px;
        top:50%;left:50%;
        transform:translate(-50%, -50%) scale(1);
    }
    .rulebook-text {
        z-index:100;
        display:flex;
        flex-direction:row;
        align-items:stretch;
        .rulebook-text-page {
            flex:1;
            text-align:center;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            padding:0 30px;
            .rulebook-text-header {
                font-family:Pixeled;
                font-size:22px;
                color:rgb(97, 44, 66);
            }
            .rulebook-text-body {
                font-family:ZCOOL;
                font-size:38px;
                color:rgb(110, 61, 49);
                margin-bottom:80px;
                margin-top:50px;
                padding:10px;
                border-radius:10px;
                &.body-response {
                    transition:all .1s ease-in-out;
                    //cursor:pointer;
                    &:hover {
                        background:rgb(93, 231, 146);
                        background:rgb(62, 202, 116);
                        color:#fff;
                        outline:3px solid rgb(196, 255, 221);
                    }
                }
            }
        }
    }
    .page-nav {
        position:absolute;
        bottom:70px;
        img {
            transition:transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);
            height:50px;
            cursor:pointer;
        }
        &.left {
            left:40px;
            img:hover {
                transform:translateX(-5px);
            }
        }
        &.right {
            right:40px;
            img:hover {
                transform:translateX(5px);
            }
        }
    }
}

.context-wrapper {
    flex:1;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items: stretch;
    .prompt {
        color:$green;
        font-family:Pixeled;
        font-size:1.3rem;
        padding:0 10px;
        border-bottom:1px solid rgb(72, 84, 155);
    }
    .chatlog {
        flex:1;
        display:flex;
        flex-direction:column;
        align-items:stretch;
        overflow-y:scroll;
        overflow-x:hidden;
        border-bottom:1px solid rgb(72, 84, 155);
        .chatlog-row {
            .chat-bubble {
                font-family:ZCOOL;
                font-size:1.6rem;
                padding:10px;
                width:fit-content;
                width:-moz-fit-content;
                max-width:300px;
                border-radius:7px;
                margin:10px;
                position:relative;
                &.sender {
                    margin-left:auto;
                    background:rgb(44, 49, 94);
                    img {
                        transform:rotateY(180deg);
                    }
                }
                &.receiver {
                    margin-right:auto;
                    background:rgb(32, 53, 122);
                }
                background:none !important;
                .chat-bubble-message {
                    position:absolute;
                    white-space:nowrap;
                    margin:0 20px;
                    font-size:1.25rem;
                    top:50%;left:50%;
                    color:rgb(43, 48, 126);
                }
                &.sender {
                    .chat-bubble-message {
                        transform:translate(calc(-50% - 20px), calc(-50% - 5px));
                    }
                }
                &.receiver {
                    .chat-bubble-message {
                        transform:translate(calc(-50% - 10px), calc(-50% - 5px));
                    }
                }
                
            }
        }
    }
    .input-wrapper {
        position:relative;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        background:rgb(44, 51, 99);
        gap:20px;
        padding:20px 0;
        .input-button {
            position:relative;
            width:fit-content;
            width:-moz-fit-content;
            height:fit-content;
            height:-moz-fit-content;
            margin:0px 0;
            flex-basis:100px;
            cursor:pointer;
            .input-background,
            .input-text { 
                position:absolute;
                top:0;left:0;
            }
            .input-background {
                transition:transform .1s ease-in-out;
                transform:translate(-10px, 10px);
                z-index:1;
            }
            .input-foreground {
                position:relative;
                z-index:100;
            }
            .input-foreground,
            .input-text {
                transition:transform .1s ease-in-out;
            }
            .input-text {
                height:100%;
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items:center;
                font-family:ZCOOL;
                font-size:2.5rem;
                color:rgb(18, 33, 65);
                z-index:200;
            }

            &:hover {
                .input-foreground,
                .input-text {
                    transform:translate(5px, -5px);
                }

                @keyframes shimmer {
                    0% {color:rgb(180, 231, 255);}
                    25% {color:rgb(34, 45, 145);}
                    50% {color:rgb(109, 223, 208);}
                    75% {color:rgb(81, 104, 209);}
                    100% {color:rgb(183, 232, 255);}
                }
                .input-text {
                    animation: shimmer 3s cubic-bezier(0.175, 0.885, 0.32, 1.15) infinite;
                }
            }

            filter: brightness(0.9) contrast(0.8) hue-rotate(260deg);
        }
    }
}

